@{
    ViewData["Title"] = "Ban Stats";
}
<h1>@ViewData["Title"]</h1>

<p>Total vs Banned vs Suspended User</p>

<div>
  <canvas height="600" id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@section Scripts {
    <script>
        const ctx = document.getElementById('myChart');

        var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Total Player', 'Banned User', 'Suspended User'],
                    datasets: [{
                        label: 'Total',
                        data: [],
                        borderWidth: 1,
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(67, 141, 64)',
                            'rgb(54, 162, 235)'
                        ],
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    }
                }
        });

        $.ajax({
            url: 'http://localhost/uas/transaksi.php?player_stats=get',
            success: function(data) {
            // process your data to pull out what you plan to use to update the chart
            // e.g. new label and a new data point
            let result = JSON.parse(data)
            // add new label and data point to chart's underlying data structures
            //myChart.data.labels.push("Post " + postId++);
            myChart.data.datasets[0].data = [result.total_player, result.banned_user, result.suspended_user];
            
            // re-render the chart
            myChart.update();
            }
        });
    </script>
}