@{
    ViewData["Title"] = "Play Game";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's play game.</p>

@section Scripts {
    <script>
        'use strict';
        $(document).ready(function(){
            console.log('am jquery')
        })
    </script>
}