@{
    ViewData["Title"] = "Play Game";
}
<style>
    p {
        font-size: 4rem;
        color: blue;
        font-weight: bold;
    }
</style>

@* <h1>@ViewData["Title"]</h1> *@

<p>Use this page to detail your site's play game.</p>

@section Scripts {
    <script>
        'use strict';
        $(document).ready(function(){
            console.log('am jquery')
        })
    </script>
}